<div class="quiz-evaluation">
    <h1 class="quiz-title">{{ title|raw }}</h1>
    <div class="quiz-text">{{ text|raw }}</div>
    <div class="quiz-score">{{ score }}</div>
    {{ evaluation|raw }}
</div>