<div>
    {% if images.singleSRC|default() %}
        {{ include('@HeimrichHannotContaoUtils/image.html.twig', images.singleSRC) }}
    {% endif %}

    {{ answerSolving |raw }}

    <a href="{{ href }}">Nächste Frage</a>
</div>