{% block body %}
    <div class="count">{{ itemsFoundText }}</div>
    <div class="quiz-question">
        {{ question|raw }}
    </div>
    <ul class="answer-list">
        {% for answer in answers %}
            {{ answer|raw }}
        {% endfor %}
    </ul>
{% endblock %}